// MODO CLARO
.modo-claro {
  background-color: #fff;
  color: #000;
}

.logo {
  height: 100px;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.button-topo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 100px;
  border: solid #b8a087 2px;
  background-color: transparent;
  font-weight: bold;
  padding: 5px;
}

.button-topo img {
  width: 40px;
  padding: 5px;
}

.button-topo span {
  margin-right: 5px;
}

.section-banner {
  background: linear-gradient(47deg, #000113 0%, #04061d 80%, #04061d 100%);
  background-image: url("/public/assets/banner-barbearia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 45vh;
}

.section-texto {
  text-align: center;
  padding: 50px 0;
}

.section-texto h1 {
  font-size: 40px;
}

.paragrafos {
  margin: 20px;
}
.paragrafo-destaque {
  font-weight: bold;
  font-size: 18px;
}

.paragrafo-assinatura {
  font-family: "Great Vibes";
  font-size: 40px;
  margin-top: 30px;
  color: #c5aa8c;
}

// MODO DARK
header {
}

.modo-escuro {
  background-color: #252323;
  color: #fff;
  height: 100vh;
}

.texto-button-modo-escuro {
  color: #fff;
}

.logo-escuro {
  filter: contrast(0);
}
